.searchText {
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    line-height: 34px;
    font-size: 16px;
    width: 487px;
    padding: 1px 0;
    border: none;
    outline: none;  /* no outline when clicking */
}

.google-search-btn {
    margin: 11px 10px 11px 4px;
    padding: 0 16px;
}

.lucky-btn {
    margin: 11px 17px 11px 4px;
    padding: 0 16px;
}
