body {
  font-size: 13px;
  background: #fff;
  color: #222;
  font-family: arial, sans-serif;
  height: 100%;
  margin: 0;
}

.flexbox {
  display: flex;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;  
}

.empty-box {
  margin: auto;
}
